* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}



.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    margin: 0;
    height: 100vh;
    width: calc(100vw - 4rem);
    margin-left: 4rem;
}

.sidebar {
    background-color: #06283D;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 100vh;
    transition: all 0.5s ease;
}

.active {
    width: 15rem;
}

#sidebarToggle {
    margin-bottom: 2rem;
}


#bar {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
}

#content {
    background-color: rgba(0, 0, 0, 0.1);
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}


.menuButton {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: white;
    margin: 0;
    padding: 1rem 0;
    width: 100%;
}

.menuButton:nth-child(7) {
    margin-top: 2rem;
}

.menuButton:hover {
    cursor: pointer;
    background-color: #1363DF;
    transition: all 0.5s ease;
}

.menuButton img {
    width: 2rem;
    height: 2rem;
}

#searchbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#input {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: white;
    margin: 0 0 0 2rem;
    padding: 1rem 0;
    width: 100%;
}

#input img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

#input input {
    background: none;
    border: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    width: 100%;
}


.sidebarText {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    display: none;
    font-weight: bold;
}

.sidebarIcon {
    margin-left: 1rem;
}

.activeText {
    display: block;
    animation: fade 0.5s;
}

/* rotate the icon 90 degrees when the menu is active */
.active #logo {
    transform: rotate(90deg);
    transition: all 0.5s ease;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.profilePhoto {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.notification {
    width: 2rem;
    height: 2rem;
}

.profileLayout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#profile p {
    font-weight: bold;
}

#toolbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#profileLarge {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    margin-left: 2rem;
}

.smallText {
    font-size: 0.8rem;
    font-weight: bold;
}

.postButton {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: #47B5FF;
    border: none;
    color: white;
    font-weight: bold;
}

.postButton:hover {
    cursor: pointer;
    background-color: #0B3E9F;
    transition: all 0.5s ease;
}

#content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    padding: 2rem;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    width: 100%;
    height: 90%;
    margin-top: 1rem;
}

#projects > div {
    background-color: white;
    border-radius: 10px;
    height: 100%;
    display: grid;
    grid-template-columns: 3% 97%;
    grid-template-rows: 1fr;
}

.card {
    background-color: white;
    padding: 1rem;
    display: grid;
    border-radius: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    height: 100%;

}

.card img {
    width: 1.5rem;
    height: 1.5rem;
}

.cardButtons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

.colored {
    background-color: #47B5FF;
    border-radius: 10px 0 0 10px;
}