* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}



.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    margin: 0;
    height: 100vh;
    width: calc(100vw - 4rem);
    margin-left: 4rem;
}

.sidebar {
    background-color: #06283D;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 100vh;
    transition: all 0.5s ease;
}

.active {
    width: 15rem;
}

#sidebarToggle {
    margin-bottom: 2rem;
}


#bar {
    background-color: white;
}

#content {
    background-color: rgba(0, 0, 0, 0.1);
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}


.menuButton {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: white;
    margin: 0;
    padding: 1rem 0;
    width: 100%;
}

.menuButton:nth-child(7) {
    margin-top: 2rem;
}

.menuButton:hover {
    cursor: pointer;
    background-color: #1363DF;
    transition: all 0.5s ease;
}

.menuButton img {
    width: 2rem;
    height: 2rem;
}

.sidebarText {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    display: none;
    font-weight: bold;
}

.sidebarIcon {
    margin-left: 1rem;
}

.activeText {
    display: block;
    animation: fade 0.5s;
}

/* rotate the icon 90 degrees when the menu is active */
.active #logo {
    transform: rotate(90deg);
    transition: all 0.5s ease;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


