body {
    display: grid;
    grid-template-columns: 4rem 1fr 7fr;
    grid-template-rows: 1fr 6fr;
    margin: 0;
    height: 100vh;
    width: 100vw;

}

.sidebar {
    background-color: blue;
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 7;
}

.active {
    grid-column: 1 / 3;
    grid-row: 1 / 7;
}


#bar {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-color: white;
}

#content {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: rgba(0, 0, 0, 0.1);
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}


.menuButton {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: white;
    margin: 0;
    padding: 0;
}

.menuButton:hover {
    cursor: pointer;
}

.menuButton img {
    width: 2rem;
    height: 2rem;
}

.sidebarText {
    width: 100%;
    text-align: center;
}

.sidebarIcon {
    margin-left: 1rem;
}

.hiddenText {
    display: none;
}

/* rotate the icon 90 degrees when the menu is active */
.active #logo {
    transform: rotate(90deg);
    transition: all 0.5s ease;
}


